<div class="container">
    <div class="row text-center  ">
        <div
            class="col-lg-6 offset-lg-3 col-sm-6  offset-sm-3 col-12 error-main   justify-content-center text-align-center">
            <div class="row ">
                <div class=" error col-lg-8 col-12 col-sm-10 offset-lg-2 offset-sm-1">
                    <h1 class="error mt-5" style="font-size:180px;color:blue;
                    text-shadow: 8px 8px 8px #000000; ">404</h1>
                    
                    <h6>Page not found</h6>
                    <p>The page you are looking for does not exist.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row  justify-content-center"><button type="button" class="btn btn-primary" (click)="clickHere()">Go back to main page</button></div>
</div>
