<div class="container-fluid">
    
    <div class="row bg-primary sticky-top" style="height: 55px">
        <div class="col d-flex align-items-center">
            <div class="row bg-primary pl-5 text-light" style="height:55px;font-size:30px">
                <fa-icon [icon]="faPlayCircle" style="font-size:35px;text-align:center"></fa-icon><span style="font-weight:bolder;padding-top:5px">MX</span><span style="padding-top:5px">PLAYER</span>
            </div>
        </div>
        <div class="col d-flex justify-content-end align-items-center">
            <a class="btn btn-outline-light mr-1">WEB SHOWS</a>
            <a class="btn btn-outline-light mr-1">
                MOVIES
            </a>
            <a class="btn btn-outline-light mr-1">
                TV
            </a>
            <a class="btn btn-outline-light mr-1">
                LIVE
            </a>
            <a class="btn btn-outline-light mr-1">
                MUSIC
            </a>

            <a class="btn btn-outline-light mr-1">
                BUZZ
            </a>



            <button class="btn btn-outline-light mr-1" (click)="logout()">
                Log Out
            </button>
        </div>
    </div>

    <div class="row m-3 text-primary" style="font-size:28px;font-weight:bold;padding-left:40%">
        Web Series
    </div>
    <div class="row m-3">    
        <div class="embed-responsive embed-responsive-21by9 ml-5 mr-3" style="width:20vw;height:25vh">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aK-wgYKdBVE" allowfullscreen></iframe>
        </div>
          
          
        <div class="embed-responsive embed-responsive-16by9 mr-3" style="width:20vw;height:25vh">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/M0oZG60WD9Y"allowfullscreen ></iframe>
        </div>
          
          
        <div class="embed-responsive embed-responsive-4by3 mr-3" style="width:20vw;height:25vh">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/E4b4qF8_Jbo" allowfullscreen></iframe>
        </div>
          
       
        <div class="embed-responsive embed-responsive-1by1 mr-3" style="width:20vw;height:25vh">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/l_26hwAbD_Y"allowfullscreen></iframe>
        </div>
    </div>

    <div class="row mt-3 text-primary" style="font-size:28px;font-weight:bold;padding-left:43%;">
        Movies
    </div>
    <div class="row m-3">    
        <div class="embed-responsive embed-responsive-21by9 ml-5 mr-3" style="width:20vw;height:25vh">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5QDKX5ExXqM" allowfullscreen></iframe>
        </div>
          
        
        <div class="embed-responsive embed-responsive-16by9 mr-3" style="width:20vw;height:25vh">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/N9Cn6VaBGKw"allowfullscreen ></iframe>
        </div>
          
         
        <div class="embed-responsive embed-responsive-4by3 mr-3" style="width:20vw;height:25vh">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/D7iqUEWEPOA" allowfullscreen></iframe>
        </div>
          
          
        <div class="embed-responsive embed-responsive-1by1 mr-3" style="width:20vw;height:25vh">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/DJ4gtq0HDfA"allowfullscreen></iframe>
        </div>
    </div>

    <div class="row mt-3 text-primary" style="font-size:28px;font-weight:bold;padding-left:43%;">
        Music
    </div>
    <div class="row m-3">    
        <div class="embed-responsive embed-responsive-21by9 ml-5 mr-3" style="width:20vw;height:25vh">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1-xGerv5FOk" allowfullscreen></iframe>
        </div>
          
        
        <div class="embed-responsive embed-responsive-16by9 mr-3" style="width:20vw;height:25vh">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Pkh8UtuejGw"allowfullscreen ></iframe>
        </div>
          
         
        <div class="embed-responsive embed-responsive-4by3 mr-3" style="width:20vw;height:25vh">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/q0hyYWKXF0Q" allowfullscreen></iframe>
        </div>
          
          
        <div class="embed-responsive embed-responsive-1by1 mr-3" style="width:20vw;height:25vh">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BBAyRBTfsOU"allowfullscreen></iframe>
        </div>
    </div>

    <div class="row bg-primary align-items-center justify-content-center" style="height:60px">
       <div  class="row " style="font-weight:bold">Stay Connected<br>
       </div>
        <div class="row ml-4">
            <fa-icon [icon]="faFacebook" style="font-size:30px;text-align:center" class=" ml-3"></fa-icon>
            <fa-icon [icon]="faTwitter" style="font-size:30px;text-align:center" class="ml-3"></fa-icon>
            <fa-icon [icon]="faInstagram" style="font-size:30px;text-align:center" class=" ml-3"></fa-icon>
            <fa-icon [icon]="faLinkedin" style="font-size:30px;text-align:center" class="ml-3"></fa-icon>
        </div>
    </div>
</div>


